* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
li a {
  display: block;
}

.nav-main-container {
  width: 100%;
  padding: 2rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #f1a7f1, #fad0c4);
  /* background-image: linear-gradient(to right, #e5bdf6, #d8dede); */
}

.nav-logo {
  font-size: 2.6rem;
  font-weight: 700;
}
.nav-menus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nav-links {
  font-size: 1.4rem;
}
.nav-links:hover {
  color: #191919e1;
  transition: 0.2s ease-in-out;
}
.nav-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-login {
  font-size: 1.4rem;
}
.btn-login:hover {
  color: #191919e1;
  transition: 0.2s ease-in-out;
}
.btn-signup {
  font-size: 1.4rem;
  color: #fff;
  background-color: #191919;
  padding: 1rem 3rem;
  border-radius: 2rem;
  transition: background-color 300ms linear, color 300ms linear;
}
.btn-signup:hover {
  background-color: #000;
}
.nav-hamburger {
  font-size: 2rem;
  display: none;
}

/* Tablet */
@media (max-width: 800px) and (min-width: 660px) {
  html {
    font-size: 9px;
  }
  .nav-main-container {
    padding: 0;
  }
  .nav-logo {
    padding: 2rem 0 2rem 10rem;
  }

  .nav-menus-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    position: fixed;
    top: 8rem;

    /* height:  */
    /* position: fixed; */

    background-image: linear-gradient(to right, #f1a7f1, #fad0c4);
  }
  .nav-hamburger {
    display: block;
    margin-right: 10rem;
    /* align-self:end */
  }
}
/* Mobile  */
@media (max-width: 660px) {
  html {
    font-size: 8px;
  }
  .nav-main-container {
    padding: 0;
  }
  .nav-logo {
    padding: 2rem 0 2rem 10rem;
  }

  .nav-menus-container {
    /* display: none; */
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    position: fixed;
    top: 8rem !important;

    /* height:  */
    /* position: fixed; */

    background-image: linear-gradient(to right, #f1a7f1, #fad0c4);
  }
  .btn-login {
    display: none;
  }
  .btn-signup {
    display: none;
  }
  .nav-hamburger {
    /* display: block; */
    margin-right: 10rem;
    /* align-self:end */
  }
}
