* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

.nav-main-container {
  width: 100%;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

ul {
  list-style: none;
}
li a {
  display: block;
}
