.btn-edit {
  display: inline-block;
  /* width: auto; */
  margin-top: 2rem;
  background-color: #191919;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.4rem;
  /* border-radius: 0.4rem; */
  border-radius: 0.2rem;
  margin-right: 1rem;
}

.btn-delete {
  display: inline-block;
  /* width: auto; */
  margin-top: 2rem;
  background-color: red;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.4rem;
  /* border-radius: 0.4rem; */
  border-radius: 0.2rem;
  margin-right: 3rem;
}
