.allcat-container-main {
  padding: 2rem 14rem;
}
.cat-blogs-con {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.cat-blog {
  width: 30%;
}
.cat-blog-img {
  height: 25rem;
  /* height: 40rem; */
  border-radius: 0.7rem;
  width: 100%;
}
.cat-blog-date {
  color: #999999;
  font-weight: 400;
}
.cat-name {
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #222222;
}
.cat-blog-title {
  font-weight: 700;
  color: #222222;
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  letter-spacing: -0.05rem;
}
.cat-blog-desc {
  color: #888888;
  font-size: 1.2rem;
  margin: 0 0 1.5rem;
}
