.spanned {
  color: #ffd369;
}
.footer-main-container {
  font-size: 1.6rem;
  /* background-color: #222831;
   */
  background-color: #222831;
  padding: 5rem 10rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 2rem; */
}
.footer-intro {
  width: 20%;
  color: #fff;
}
.footer-logo {
  font-size: 3.4rem;
  font-weight: 700;
}
.footer-title {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.desc {
  line-height: 1.8;
  font-weight: 400;
  padding-top: 2rem;
  color: #ffffffb3;
  font-size: 1.5rem;
}
.footer-img {
  width: 8rem;
  height: 8rem;
  border-radius: 0.25rem;
}
