.hero-main-container {
  padding: 2rem 10rem;
  padding: 10rem 10rem 2rem 10rem;
}
.hero-title-sub {
  font-size: 1.8rem;
  /* color: #ffffff; */
  font-weight: 400;
  /* line-height:1.3; */
}
.hero-title-main {
  line-height: 1.1;
  font-size: 12.9rem;
  font-weight: 700;
}
.hero-description {
  /* position: absolute; */
  /* color: #ffffffe6; */
  /* line-height: 3; */
  margin-top: 2rem;

  padding-right: 50%;
  font-size: 1.8rem;
  width: 100%;
}
/* .down-arrow {
  animation: MoveUpDown 3s linear infinite;
  position: relative;
  /* left: 10rem; 
  top: 13rem;
}
@keyframes MoveUpDown {
  0%,
  100% {
    top: 13rem;
  }
  50% {
    top: 15rem;
  }
} */
