.main-container {
  padding: 2rem 10rem;
  color: #292929;
}
.user-container-small {
  display: flex;
  flex-direction: column;
}
.user-con-small {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
}
.user-img-small {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
.username-small {
  font-size: 1.6rem;
}
.btn-follow-small {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}
.btn-follow-small:hover {
  background-color: #000000e0;
  transition: 0.3s ease-in-out;
}
.blog-t {
  font-size: 3.2rem;
  color: #292929;
  font-weight: 700;
  letter-spacing: 10;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.blog-p {
  /* color: #808080; */
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}
.blog-detail-conteiner {
  display: flex;
}
